*{
    overflow-x:hidden;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation:all 1s;
}
@keyframes all{
    from{
        opacity: 0.5;
    }
    to{
        opacity:1;
    }
}
#mainHeader{
    position:relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url(/images/university.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
    padding:8px;
    z-index: 1;
}
#mainHeader::after {
    position: absolute;
    display:flex;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,10, 0.63);
    z-index: -1;
}

#mainHeader h1{
    text-align: center;
    color:#fff;
    font-weight: 800;
    font-size:70px;
}
#libraryLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:160px;
    width: 100%;
    padding:10px;
    cursor: pointer;
    animation: topBottom 6s;
    border: bottom 1px white solid;

}
@keyframes topBottom{
    from{
        left:0%;
        right:0%;
        padding: 200px;
        border-bottom:solid 1px grey;
    }
    to{
        padding:10px;
        border-bottom:2px white solid;
    }
}
#addBookArea{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

