*{
    overflow-x:hidden;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainHeader{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width:100%;
    padding:8px;
}
#mainHeader h1{
    color:thistle;
    font-weight: 800;
}
#mainHeader::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 60vh;
    background-color: rgba(0,0,0,.8);
    z-index: -1;
}
#libraryLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:160px;
    width: 100%;
    padding:10px;
    cursor: pointer;

}
